[flake8]
max-line-length = 100
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    permis/data/*,        # données, html/json générés
    permis/**/arretes_bruts/*,
    permis/**/arretes_structure/*,
    permis/**/operations_mapped/*

# optionnel :
max-complexity = 12
per-file-ignores =
    # fichiers générés ou scripts one-off
    permis/scripts/*: D, E402
