[flake8]
exclude = .git,__pycache__,venv
max-line-length = 100
# For compatibility with black via bugbear plugin
# See : https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203,E701
per-file-ignores = 
    # autorise imports non utilisés dans __init__
    __init__.py:F401  
# Règles isort via flake8-isort
extend-select = I
