# Fichiers temporaires / cache
tmp/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers système
.DS_Store
Thumbs.db

# Environnement
.env
.env.*
!.env.example
.venv/
venv/
env/

# Packaging / build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Outils / caches
.cache/
.mypy_cache/
.pytest_cache/
.pytype/
.pyre/
.tox/

# Couverture / tests
.coverage
.coverage.*
htmlcov/

# Éditeur
.vscode/
.idea/
*.code-workspace
*.swp
*.swo
*.orig

# Logs
*.log
